RewriteEngine On
RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://recipes.andrewmahe.com/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
