*{
  	margin: 0;
  	padding: 0;
	box-sizing: 0;
	font-family: Catamaran, sans-serif;
}

body{
	background-color: rgb(248, 248, 248);
}

.global_container{
	width: 70%;
	margin: auto;
}

.recipes-list{
	display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
	transition: 1s ease-in-out;
}

.recipes-list::-webkit-scrollbar{
    display: none;
}

.container{
	background: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out 0s;
	padding: 0px !important;
	height: 100%;
}

.container:hover{
	outline: thick solid rgb(0, 166, 90)
}

a{
	text-decoration: none;
}

img{
	color: rgb(0, 166, 90);
    cursor: pointer;
    font-size: 1.8rem;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    transition: color 0.3s ease-in-out 0s;
}

.title{
	color: rgb(74, 74, 74);
    display: block;
    font-family: Catamaran, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    -webkit-line-clamp: 2;
    line-height: 1.4rem;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
	text-align: center;
	padding: 10px;
}

.kcalRecipes{
	background: rgb(0, 166, 90);
    color: white;
	border-radius: 0 20px 20px 0;
    padding: 5px 10px;
    position: absolute;
    left: 0px;
    top: 50px;
    font-size: 0.8rem;
    font-weight: 500;
	display: inline-block;
}

.timeCuisine{
	background: rgb(0, 166, 90);
    color: white;
	border-radius: 0 20px 20px 0;
    padding: 5px 10px;
    position: absolute;
    left: 0px;
    top: 10px;
    font-size: 0.8rem;
    font-weight: 500;
	display: inline-block;
}

.detailsContainer i{
	padding-right: 5px;
}

/*******************
*
*  Design filtre 
*
********************/

.filtreBtn-container{
    padding: 15px;
}

.filtreBtn{
    margin: 20px 0 0 0 !important;
    background: rgb(255, 255, 255);
    border-radius: 3rem !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 1px;
    cursor: pointer !important;
    padding: 10px 20px !important;
    color: white;
    bottom: 0px !important;
    background-color: rgb(225, 130, 45) !important;
    transition: ease-in-out .1s !important;
}

.filtreBtn:hover{
    bottom: 5px !important;
    transition: ease-in-out .1s !important;
    background-color: rgb(196, 112, 38) !important;
}

.filtre{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.researchBtn
{
    background-color: rgb(225, 130, 45);
    height: 50px;
    border-radius: 8px;
    padding: 0 16px;
    border: none;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position:relative;
    transition: ease-in-out 0.1s;
    bottom: 0px;
    width: 100px;
}

.researchBtn:hover{
    bottom: 5px;
    transition: ease-in-out .1s;
    background-color: rgb(196, 112, 38);
}

.container-filtre{
    position: relative;
    max-width: 250px;
    width: 100%;
}

.research{
    height: 50px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: none;
    padding: 0 15px;
    width: 350px;
    margin-right: 20px;
}

.research:focus{
    border:rgb(196, 112, 38) 1px solid;
}

.select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
	width: 100%;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: #333;
}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: rgb(225, 130, 45);
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}
.list-items{
    position: absolute;
	z-index: 2;
	width: 100%;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    max-height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}
.select-btn.open ~ .list-items{
    display: block;
}

/* Always show the scrollbar of the dropdown */
.select-btn.open ~ .list-items::-webkit-scrollbar {
    width: 8px;
    height: 0;
}
.select-btn.open ~ .list-items::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    border-radius: 8px;
}
.select-btn.open ~ .list-items::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.3);
}

.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.list-items .item:hover{
    background-color: rgba(225, 129, 45, 0.164);
}
.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: rgb(225, 130, 45);
    border-color: rgb(225, 130, 45);
}
.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}


/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 700px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		 -o-transform: translate3d(0%, 0, 0);
			transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.left .modal-content::-webkit-scrollbar,
.modal.right .modal-content::-webkit-scrollbar {
	display: none;
  }

.modal.left .modal-body,
.modal.right .modal-body {
	padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
	left: -500px !important;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		 -o-transition: opacity 0.3s linear, left 0.3s ease-out;
			transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog{
	left: 0 !important;
}

.close{
	background-color: red;
	box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 1px;
	border-radius: 50%;
}

.close span{
	color: #9229ff;

}


/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #EEEEEE;
	background-color: #FAFAFA;
	height: 500px;
	padding: 0 !important;
}

#img-recipes{
	object-fit: cover;
    height: 500px;
    width: 100%;
}

.recipe-title{
	color: rgb(74, 74, 74);
	font-weight: 900;
	text-align: left;
	line-height: 1;
	margin-bottom: 45px;
}

.ingredients{
	color: rgb(74, 74, 74);
	text-align: left;
	line-height: 1;
	display: block;
	padding: 0 !important;
	font-weight: 100;
	font-family: Catamaran, sans-serif;
    font-size: 1.4rem;
}
.title-ingredients{
	color: rgb(74, 74, 74);
	font-weight: 800;
	font-size: 1.4rem;
	text-align: center;
	display: block;
	background-color: rgb(225, 130, 45);
    padding: 10px !important;
    color: white;
}

.instructions{
	color: rgb(74, 74, 74);
	text-align: left;
	line-height: 1;
	display: block;
	padding: 0 !important;
	font-size: 1.4rem;
	font-weight: 100;
}

.step{
	background-color: rgb(0, 166, 90);
	padding: 10px;
	color: white;
	font-family: Catamaran, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
	text-align: center;
}

.time{
	color: rgb(155, 155, 155);
    font-size: 1.4rem;
}


/* ----- v CAN BE DELETED v ----- */
#myModalLabel{
	-webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 1px;
    color: rgb(0, 166, 90);
    cursor: pointer;
    display: flex;
    font-family: Catamaran, sans-serif;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
	height: 20px;
    z-index: 100;
}

.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.btn-demo {
margin: 15px;
padding: 10px 15px;
border-radius: 0;
font-size: 16px;
background-color: #FFFFFF;
}

.btn-demo:focus {
outline: 0;
}

.demo-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 15px;
background-color: #212121;
text-align: center;
}

.demo-footer > a {
text-decoration: none;
font-weight: bold;
font-size: 16px;
color: #fff;
}

.modal-dialog {
	max-width: initial !important;
}

@media only screen
and (min-width : 600px) 
and (max-width : 1000px) {
	.recipes-list {
		grid-template-columns: repeat(2, minmax(0px, 1fr));
		transition: 1s ease-in-out;
	}

	.title{
		font-size: 1.5rem;
	}

    .global_container{
        width: 85%;
    }
}

@media (min-width: 576px){
	.modal-dialog {
		max-width: initial !important;
	}

}


@media only screen
and (min-width : 0px) 
and (max-width : 700px) {
	.modal-dialog {
		max-width: initial !important;
	}

	.instructions{
		color: rgb(74, 74, 74);
		padding: 0 !important;
		font-size: 1.6rem;
		font-weight: 500;
	}

	.ingredients{
		color: rgb(74, 74, 74);
		padding: 0 !important;
		font-size: 1.6rem;
		font-weight: 500;
	}

	.recipes-list {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(1, minmax(0px, 1fr));
		transition: 1s ease-in-out;
	}

	.title{
		font-size: 2rem;
		line-height: 120%;
	}

    .global_container{
        width: 95%;
    }

    .research{
        width: 200px;
    }

}